<form (ngSubmit)="save()">
    <h2>Cadastro de curso</h2>
        <div>
            <label for="nome">Nome</label>
            <input id="nome" name="nome" [(ngModel)]="nome" type="text" />
        </div>
        <div>
            <label for="cargaHoraria">Carga horária</label>
            <input id="cargaHoraria" name="cargaHoraria" type="number" [(ngModel)]="cargaHoraria" />
        </div>
        <div>
            <select [ngModel]="modalidade" (ngModelChange)="onChange($event)" name="modalidade">
                <option [value]="m.modalidade" 
                *ngFor="let m of modalidades">{{ m.descricao }}</option>
            </select>
        </div>
        <button type="submit">Salvar</button>
</form>